<br>
<br>
<div class="row">
    <div class="span9">
        <h2>Available mp3 files</h2>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                <th>Files</th>
                <th>Zippa url</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
            <% @files.each do |f| %>
                <tr>
                    <td><i class="icon-music"></i> <%=f%></td>
                    <td class="zippaurl">http://<%=request.env["HTTP_HOST"]%>/playmp3?volume=10&file=<%=f%>&player=all</td>
                    <td><button class="btn btn-small btn-success play" type="button" onclick="playFile(this)"><i class="icon-play"></i></button></td>
                    <td><button class="btn btn-small btn-danger delete" type="button" onclick="deleteFile('<%=f%>')"><i class="icon-remove"></i></button></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <p>
            <h4>Volume:</h4>
            10% <input class="volume" type="range" min="10" max="100" step="10" value="10" /> 100%
            <h4>Sonos:</h4>
            <select class="player">
                <option value="all">All</option>
                <% @speakers.each do |s| %>
                    <option value="<%= s.uid %>"><%= s.name %></option>
                ><%end %>
                
            </select>
        </p>
    </div>
</div>
<div class="row">
</div>
<br>

<div class="row">
    <div class="span4">
        <form action="addfile">
          <fieldset>
            <label>Add new audio</label>
            <input type="text" name="audio" placeholder="alarm...">
            <span class="help-block">File name will be the same as the input</span>
            <button type="submit" class="btn">Submit</button>
          </fieldset>
        </form>
    </div>
</div>
